.body{
  display: flex;
}
.App {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ff4b2b, #ff416c);
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.content-wrapper {
  display: flex;
  width: 100%;
  max-width: 1200px;
}

.left-section {
  width: 50%;
  padding: 20px;
}

.right-section {
  width: 50%;
  padding: 20px;
}

form {
  margin-bottom: 30px;
}

h1,
h2 {
  margin-bottom: 20px;
}

.MovieList {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.MovieCard {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.MovieCard img {
  width: 100%;
  height: auto;
}

.MovieCard h3 {
  font-size: 14px;
  margin: 10px;
}



@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.chat-button:hover {
  transform: scale(1.05); /* Slight hover effect */
  transition: transform 0.3s ease-in-out;
}


/* Subtle Bounce Animation for Chat Icon */
.bouncy-chat-icon {
  animation: subtle-bounce 2s infinite;
}

@keyframes subtle-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* Small upward movement */
  }
}
